* {
  box-sizing: border-box;
}

body {
  color: #000000;
  font-size: 1.5rem;
}

input,
select,
button {
  width: 100%;
  background: #fff;
  border: 1px solid #d9d9d9;
  padding: 5px;
  border-radius: 0;
  -webkit-appearance: none;
}

button {
  width: auto;
  padding: 8px 26px;
}

input:focus,
select:focus,
button:focus,
input:hover,
select:hover,
button:hover {
  border: 1px solid #464646;
  outline: none;
}

/* Root component */

.Root-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}
